@import "react-alice-carousel/lib/alice-carousel.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* text */
  .text-caption {
    @apply font-semibold italic;
  }
  .title-dashboard {
    @apply text-4xl font-semibold;
  }
  /* text */
  .layout {
    @apply w-full max-w-[1200px] px-3 xl:px-0;
  }
  .icon {
    @apply text-xl;
  }

  input,
  textarea {
    @apply outline-none !important;
  }
  .mesure {
    @apply text-sm italic text-gray-300 !important;
  }
  .menu-item {
    @apply flex flex-row items-center gap-3 !important;
  }
}

.ant-btn-primary {
  background-color: blue;
  color: white;
}

.background-animate {
  background-size: 400%;

  -webkit-animation: AnimateGradient 7s ease infinite;
  -moz-animation: AnimateGradient 7s ease infinite;
  animation: AnimateGradient 7s ease infinite;
}

@keyframes AnimateGradient {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
